/* Define your custom font */
@font-face {
    font-family: 'SpongeBob';
    src: url('../font/Krabby Patty.ttf') format('truetype');
}

/* Apply the custom font */
body {
    font-family: 'SpongeBob', sans-serif;
}

.navbar-brand img { 
    margin-left: 40px;
}

.krusty-logo {
    margin-left: 50px;
    width: 160px;
    height: auto;
}

.navbar {
    background-color: #FFCC33;
    padding: 0;
    margin: 0;
}

.navbar .navbar-brand,
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items:center;
    margin-left: 160px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'SpongeBob', sans-serif;
    font-size: 18px;
    border-radius: 40px;
}

.nav-link:hover {
    background-color: #FF8C00;
    color: white;
}

.header-top-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFCC33;
    font-family: 'SpongeBob', sans-serif;
}

.footer {
    background-color: #FF5733;
    color: white;
    padding: 50px;
    text-align: center;
    margin-top: 40px;
    font-family: 'SpongeBob', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    margin-bottom: 60px;
    
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    transition: transform 0.5s ease-out;
}

.container-1-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}
  
.container-1-slides {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.container-1-slides img {
    width: 100%;
    height: auto;
    max-height: 800px;
    max-width: 400px;
}
  
.container-1-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

#container-1-left-arrow {
    left: 40px;
}

#container-1-right-arrow {
    right: 40px;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined-fill {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    font-size: 2.2em;
    color: #d4a10b;
}

.container-1-content-title {
    font-size: 3em;
}

.container-1-content-description{
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
}
.container-2-content-subtitle{
    font-size: 2em;
}
.container-2-description {
    font-size: 18px;
}
#container-2-left-arrow {
    left: 10px;
}

#container-2-right-arrow {
    right: 10px;
}
.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e986;
}
.container-2-slider {
    position: relative;
    max-width: 80%;
    overflow: hidden;
    margin: auto;
}
  
.container-2-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container-2-slides img {
    height: 400px;
    width: 200px;
}
  
.container-2-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}
.fade-in {
    animation: fadeIn 1s ease-in-out;
}
.container-3-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}
.container-3-slider {
    position: relative;
    overflow: hidden;
    margin: auto;
}
  
.container-3-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container-3-slides img {
    width: 100%;
}
.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-3-left-arrow {
    left: 40px;
}

#container-3-right-arrow {
    right: 40px;
}

.container-3-content {
    max-width: 50%;
}
#tourist-spot-name {
    font-size: 2em;
    text-align: center;
}

#tourist-spot-description {
    font-size: 2em;
    text-align: justify;
    text-justify: inter-word;
    margin: 40px;
}

.main-content{
    background-color: antiquewhite;
}

.container-2-title{
    font-size: 3em;
    text-align: center;
}