/* Define your custom font */
@font-face {
    font-family: 'SpongeBob';
    src: url('font/Krabby Patty.ttf') format('truetype');
}

/* Apply the custom font */
body {
    font-family: 'SpongeBob', sans-serif;
}

.navbar-brand img { 
    margin-left: 40px;
}

.krusty-logo {
    margin-left: 50px;
    width: 160px;
    height: auto;
}

.navbar {
    background-color: #FFCC33;
    padding: 0;
    margin: 0;
}

.navbar .navbar-brand,
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items:center;
    margin-left: 160px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'SpongeBob', sans-serif;
    font-size: 18px;
    border-radius: 40px;
}

.nav-link:hover {
    background-color: #FF8C00;
    color: white;
}

.header-top-1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFCC33;
    font-family: 'SpongeBob', sans-serif;
}

.footer {
    background-color: #FF5733;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    height: 60px;
    z-index: 1000;
    font-family: 'SpongeBob', sans-serif;
}

.main-content {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#background {
    background-color: #373B44;
    background: linear-gradient(to right,#373B44,#4286f4);
}

.card {
    background: linear-gradient(
    to bottom,
    #A1C935,
    #F8C146,
    #F39C12,
    #D35400);
    border-radius: 10px;
}